{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Homework UI</title>
    <link rel="stylesheet" href="{% static "css/see.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
        } else {
            $(".item").addClass("active");
        }
    });
});
    </script>
</head>
<body>
    <main>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="#">Virtual School</a></li>
                <li class="item"><a href="{%url "student"%}">Home</a></li>
                <li class="item"><a href="#">About</a></li>
                <li class="item"><a href="#">Services</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </main>
    <br>
    <div class="container">
            <div class="container-1">
                <a href="{%url "teacher/homework/post" %}"><button class="ph-btn"   id="post-homework" >Post Homework</button></a>

                <a href="{% url "teacher/homework/posted" %}"><button class="sph-btn" >See Posted Homework</button></a>
            </div>
            <div id="choose" class="container-2">
            <form>
            <div class="ph-form">
            <label style="color:white;" for="Subject">Choose Class</label>
            <select name="Class" id="Choose-subject">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            </div>


            <div class="ph-form">
            <label style="color:white" for="Subject">Choose a Subject :</label>
            <select name="subject" id="Choose-subject">
              <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Math">Math</option>
                <option value="Science">Science</option>
                <option value="Social science">Social science</option>
            </select>
            </div>
            <button id="apply" type="submit" class="btn btn-primary" value="apply" name="apply" style="color: brown;padding: 5px;margin-left: 100px;">Apply Filter</button>

 </form>
</div>

            <div class="container-2">

                <div class="date"> <center>Student homework</center></div>
                <div class="scrollmenu">
                    {%for i in key%}
                    <a href="/media/{{i.file}}">
                    <div class="mini-container">
                        <div class="name-container">
                          {{i.student_name}}
                        </div>
                        <h5 style="color:black;margin-top:3px;">{{i.name}}<br>--{{i.date}}</h5>
                    </div></a>
            {%endfor%}
                </div>
            </div>
   <!--will be  in loop (same as above )   -->

</div>
</body>
</html>
