{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
    <link rel="stylesheet" href="{% static "css/homework.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
        } else {
            $(".item").addClass("active");
        }
    });
});
    </script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <main>
        <nav>
            <ul class="menu">
                <li  class="logo"><a style="color:white;" href="#">Virtual School</a></li>
                <li class="item"><a href="#">Home</a></li>
                <li class="item"><a href="#">About</a></li>
                <li class="item"><a href="#">Services</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </main>
    <div class="container">

   <div class="notebook">
       <a href="{% url "student/homework/addhomework" %}"><button class="submitnotebook">Submit your HomeWork
               <span class="glyphicon glyphicon-plus-sign"></span> </button>
        </a>
        <button class="submitted"> HomeWork given by teacher
        </button>
   </div>



        <div class="subjects">

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="homework/english">
                     <img src="{% static "images/english.jpg" %}" alt="english">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="homework/hindi">
                     <img src="{% static "images/hindi.jpg" %}" alt="hindi">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="homework/math">
                     <img src="{% static "images/maths.jpg" %}" alt="maths">
                    </a>
                </div>
        </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="homework/science">
                     <img src="{% static "images/science.jpg" %}" alt="science">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="homework/social_science">
                     <img src="{% static "images/social.jpg" %}" alt="social">
                    </a>
                </div>

        </div>
    </div>


</body>
</html>
