{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus/Monthly Report </title>
    <link rel="stylesheet" href="{% static "css/syllabus.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
        } else {
            $(".item").addClass("active");
        }
    });
});
    </script>
</head>
<body>
    <main>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="#">Virtual School</a></li>
                <li class="item"><a href="{%url "student"%}">Home</a></li>
                <li class="item"><a href="#">About</a></li>
                <li class="item"><a href="#">Services</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </main>
    <div class="container">
        <div class="timetable">
            <h1>Time Table</h1>
            <ol>
              {% for i in key1%}
              <li style="margin:8px;margin-left:10px;"> <a style="color:black;" href="/media/{{i.file}}"> {{i.file}} </a></li>
              {%endfor%}
            </ol>
        </div>
        <div class="syllabus">
            <h1>Syllabus</h1>
            <ol>

              {% for i in key%}
              <li style="margin:8px;margin-left:10px;"> <a style="color:black;" href="/media/{{i.file}}"> {{i.file}} </a></li>
              {%endfor%}
            </ol>
        </div>
        <div class="report">
            <h1>Events</h1>
            <ol>
              {% for i in key2%}
              <li style="margin:8px;margin-left:10px;"> <a style="color:black;" href="/media/{{i.file}}"> {{i.file}} </a></li>
              {%endfor%}
            </ol>
    </div>
    </div>
</body>
</html>
