{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Notes</title>
    <link rel="stylesheet" href="{% static "css/homeworkpost.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
    $(function () {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
        } else {
            $(".item").addClass("active");
        }
      });
    });
    </script>
</head>
<body>
    <main>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="#">Virtual School</a></li>
                <li class="item"><a href="{%url "teacher"%}">Home</a></li>
                <li class="item"><a href="#">About</a></li>
                <li class="item"><a href="#">Services</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </main>
<div class="ph-container">
    <form action method="post" enctype="multipart/form-data">
      {% csrf_token %}
  <center>
    <h2 style="color: aquamarine;
    text-decoration: underline;"><strong>Post Notes</strong></h2>
    <div class="ph-form">
    <label for="Subject">Choose Class</label>
    <select name="Class" id="Choose-subject">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    </div>


    <div class="ph-form">
    <label for="Subject">Choose a Subject :</label>
    <select name="subject" id="Choose-subject">
      <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="Math">Math</option>
        <option value="Science">Science</option>
        <option value="Social science">Social science</option>
    </select>
    </div>


    <div  class="ph-form-file-area">
        <div class="default" style="margin: 5px">Select pdf/img to upload</div>
    </div>
      <input type="file" accept="application/pdf,image/jpeg" name="file" id="images" required="required"  multiple="multiple"/ >


    <div class="ph-form-group">
      <button type="submit" >Post Notes</button>
    </div>
    </center>
      </form>
</div>
      <br>
      <div class="bpm"><a href="{%url "teacher/notes"%}"><center>Back to previous page</center></a></div>
</body>
</html>
