{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Notes</title>
    <link rel="stylesheet" href="{% static "css/postnotes.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
        } else {
            $(".item").addClass("active");
        }
    });
});
    </script>
</head>
<body>
    <main>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="#">Virtual School</a></li>
                <li class="item"><a href="{%url "teacher"%}">Home</a></li>
                <li class="item"><a href="#">About</a></li>
                <li class="item"><a href="#">Services</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </main>
    <br>
    <div class="container">
            <div class="container-1">
                <a href="{%url "teacher/notes/post"%}"><button class="ph-btn"   id="post-homework" >Post Notes</button></a>
            </div>
        <center><h3 style="margin: 5px; margin-top: 20px">Recently Posted Notes</h3></center>
            <div class="container-2">
                <div class="date"> <center>Notes</center></div>
                  {%for i in key%}
                    <a style="color:black;" href="/media/{{i.file}}">
                    <div class="mini-container">
                      <h5>{{i.name}}</h5>
                    </div>
                  </a>
                  {%endfor%}
            </div>
</div>
</body>
</html>
