{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!--jQuery library-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virtual School</title>
    <link rel="stylesheet" href="{% static "css/teacherui.css" %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
        } else {
            $(".item").addClass("active");
        }
    });
});
    </script>

</head>
<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="#">Virtual School</a></li>
            <li class="item"><a href="{%url "student"%}">Home</a></li>
            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Services</a></li>

            <li class="item"><form > <button type="submit" class="btn btn-primary" value="logout" name="log">LogOut</button></form> </li>

            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <main>
        <div class="fancy">Recent News(Event Update)</div>



    </main>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url "teacher/homework" %}"   class="thumbnail"><img src="{%static "images/homework.jpg" %}" height="300" width="300">
                        <div class="caption">
                             <h2>Home Work</h2>
                            <p>Post/check Home Work</p>
                        </div></a>
                </div>
                   <div class="col-sm-4">
                    <a href="{% url "teacher/notes" %}"   class="thumbnail"><img src="{%static "images/notes.jpg" %}" height="300" width="300">
                    <div class="caption">
                               <h2>Provide Notes</h2>
                          <p>Read Notes</p>
                        </div></a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url "teacher/notice" %}" class="thumbnail"><img src="{%static "images/notice.jpg" %}" height='300' width='300'>
                        <div class="caption">
                             <h2>Circulate Notice</h2>
                            <p>Post Notes Here</p>
                        </div></a>

                </div>


            </div>
             <div class="row">
                  <div class="col-sm-4">
                    <a href="{% url "teacher/lectures" %}" class="thumbnail"><img src="{%static "images/videolectures.jpg" %}" height='300' width='300'>
                        <div class="caption">
                             <h2>Video Lectures</h2>
                            <p>Provide Video Links</p>
                        </div></a>

                </div>
                <div class="col-sm-4">
                    <a href="{% url "tech_discussionpanel" %}"   class="thumbnail"><img src="{%static "images/discussionpanel.jpg" %}" height="300" width="300">
                        <div class="caption">
                             <h2>Discussion Panel</h2>
                            <p>Discuss with Students</p>
                        </div></a>
                </div>
                   <div class="col-sm-4">
                    <a href="{% url "teacher/event" %}"   class="thumbnail"><img src="{%static "images/syllabus.jpg" %}" height="300" width="300">
                    <div class="caption">
                               <h2>Post info</h2>
                          <p>Time table/syllabus/Event</p>
                        </div></a>
                </div>



            </div>
        </div>


</body>
</html>
