
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{

  background-color:black;

  color: white;

}
nav{
    height: 55px;
}
.glyphicon {
    position: relative;
    top: 2.5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-user{
    height: 1px;
    width: 1px;
    padding-right: 30px;
}
.glyphicon-earphone{
    padding-right: 10px;
}
.glyphicon-envelope{
    padding-right: 10px;
}
.address{
    margin-top: -2px;
    padding-right: 10px;
}
.backbtn{
 color:grey;
 background: #222222;
 size: 30px;
 border: none;
 float: left contour;
margin: 5px;

}

.profile-card{

    width: 480px;
    margin: auto;
    background: #000000af;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.image-container{
    margin-top: 5em;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(211, 208, 208, 0.733);
}
.pro-container{
    width: 480px;
    background: #000000af;
    padding: 1em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}
.detail-container {
    padding: 1em;
    width: 450;
    border-radius: 14px;
    background: #38373786;
    box-shadow: 4px 4px 5px 0 rgba(211, 208, 208, 0.733);
    margin: 3px;
}
.service-container
{
       margin:3px;
    padding: 1em;
    margin-bottom:10%;;
    width: 450px;
    border-radius: 14px;
    background: #38373786;
    box-shadow:4px 4px 5px 0 rgba(211, 208, 208, 0.733); 

}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  h3{
      font-size: 30px;
      color: yellow;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;

  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
.title
{
    color:aqua;
  

}
td{
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 25px;
}
.sub-btn{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background: linear-gradient(to right,rgb(13, 67, 88),rgb(41, 41, 105));
font-size: 1.8rem;
    color: white;
    align-content: center;
    width: 110px;
    height:40px;
    float: right;
        box-shadow: 4px 6px #31314e;
}



footer{

    background-color:  #101010; 
    color: #ffffff;
    bottom: 0;
    width: 100%;
    position: fixed;
    
}

