<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static "css/createUser.css"%}">
    <title>Create User</title>
</head>
<body>
    <div class="bg"></div>
    <div class="main-wrapper">
        <div class="sidePannel">
            <div class="logo">
                Atul
            </div>

            <div class="button-container">
                <ul>
                  <li ><a href="/adm"><img class="icon"  src="{%static "css/img/dashboard.svg"%}" ><P>Dashboard</P></a></li>
                    <li ><a href="/adm/createClient"><img  class="icon" src="{%static "css/img/hand-shake.svg"%}" ><P>Create Client</P></a></li>
                  <li class="active"><a href="#"><img class="icon" src="{%static "css/img/user.svg"%}"  ><P> Create User</P></a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <div class="main-header">
                <p>Dashboard</p>
                <button onclick="log()" type="submit">LogOut</button>
                <script>
                  function log(){
                    window.location.assign('/adm/log');
                  }
                </script>
            </div>

            <div class="content-container">
                <div class="card user">
                    <div class="card-head">
                        Create User
                    </div>
                    <div class="form-content">
                        <form autocomplete="off" method="post">
                          {%csrf_token%}
                            <input  class="inp" type="text" name="userName"  placeholder="User name" required><br>
                            <input class="inp" type="email" name="userEmail"  placeholder="Email" required><br>
                            <input class="inp" type="text" name="pass"  placeholder="Password" required><br>
                            <label id="status-label" for="status">Status</label><input type="checkbox" id="status" name="status" checked><br>
                            <input id="saveOrNot" style="display:none"  name="state" value="">
                            <label for="report">Select reports</label>
                              <select class="" name="rep-select" id="report" multiple>
                                {%for i in data%}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {%endfor%}
                              </select><br>
                            <button onclick="addAnother()" type="submit">Save and Add another</button> <button onclick="save()" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ending here -->
    <script>
      function save(){
        document.getElementById('saveOrNot').value="no";
      }
      function addAnother(){
        document.getElementById('saveOrNot').value="yes";
      }
    </script>
</body>
</html>
