<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/userRepView.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <title>Reportings</title>
</head>
<body>
    <div class="header">
      MADHYA Events
    </div>



    <div class="main-wrapper">
        <div class="card-head">
            Reportings
        </div>
          <div class="card">
              <table id="example" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                      <tr>
                        {%for i in curs.column_names%}
                          <th>{{i}}</th>
                        {%endfor%}
                      </tr>
                  </thead>

                  <tbody>
                    {%for i in curs%}
                      <tr>
                        {%for j in i%}
                          <td>{{j}}</td>
                        {%endfor%}
                      </tr>
                    {%endfor%}
                  </tbody>
              </table>

          </div>
    </div>



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
            $('#example').DataTable();
          } );
    </script>

</body>
</html>
