<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/userForm.css"%}">
    <title>Submit report</title>
</head>
<body>
    <header>
        MADHYA Events
    </header>

    <div class="main-wrapper">
        <div class="card-head">
            {{repname}}
        </div>
        <div class="card">
            <form action="" method="post" autocomplete="off">
              {%csrf_token%}
              {%for i in curs%}
                <input class="inp" type="text" placeholder="{{i}}" name="inpData" required><br>
                {%endfor%}
                <button type="submit">Save</button>
            </form>
    </div>
</html>
