/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #222;
    padding: 5px 20px 0;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }

  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }

  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
  }


  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }


.submitnotebook,.submitted {
    height: 50px;
    width: 100%;
    padding: 5px;
    /* margin: 5%; */
    background: linear-gradient(#03001e, #000e74);
    font-size: 2rem;
    color: white;
    border: black;
    box-shadow: 10px 6px 10px black;
}
.submitnotebook{
    margin-bottom: 20px;
}
.submitted{
    background: linear-gradient(1deg, #055805, black);
}

.notebook{
    padding: 5%;
}
button {
    overflow: visible;
    height: 100px;
    width: 100%;
    margin: 5px;
    text-align: center;

    font-weight: bold;
    background: linear-gradient(125deg, #ffffff, #1fdfa9);
}

.square {
    float:left;
    position: relative;
    width: 20%;
    padding-bottom : 5%; /* = width for a 1:1 aspect ratio */
    margin:4%;
    background-color:#1E1E1E;
    overflow:hidden;
}



.content {
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}


img {
    vertical-align: middle;
    margin: 10px;
    height: 300px;
       width: 100%;
    box-shadow: 5px 5px 17px black;
}
